!!!
%html{:lang => 'en'}
  %head
    = render '_meta.html'
  %body
    = render '_facebook.html'
    = render '_analytics.html'
    = render '_google_plus.html'
    .container.bottom-space
      = render '_header.html'
      .clear
      .row
        .span12.post-conteudo
          %h1.post-titulo
            = @item[:title]
          .post-meta
            %div.autor
              = "#{@item[:author]} | #{exibir_data(@item[:created_at])}"
            %div.twitter-button
              = render '_twitter_button.html', :url_twitter => encurtar_url("#{@config[:base_url]}#{item.path}"), :title => item[:title]
            %div.facebook-share
              = render "_facebook_like_button.html", :url_facebook => "#{@config[:base_url]}#{item.path}"
          .clear
          %article
            = conteudo_do_artigo(yield)
          = render "_disqus.html", :disqus_identifier => @item[:identifier]